<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragments :: head('Profile')">
</head>
<body>

<nav th:replace="partials/fragments :: navbar"></nav>

<div class="main row">
    <!--Profile Head-->
    <div id="headProfile" class="row justify-content-between col-12 col-lg-12">
        <!--Default Image-->
        <div class="profile-div col-12 col-lg-4" th:if="${user.getImg() == null}">

            <div class="p_img">
                <img th:src="@{~/img/default_img.jpeg}" class="profile-img" alt="wow">
            </div>
<!--           Profile Username-->
            <div class="flex align-items-start">
                <h5 class="text-dark text-center" th:text="${user.getUsername()}"></h5>
                <a class="btn btn-outline-dark" id="defaultEdit" href="/update/user">Edit profile</a>
            </div>

        </div>

        <!--Uploaded image-->
        <div class="profile-div col-12 col-lg-3" th:if="${user.getImg() != null}">

            <div class="p_img">
                <img th:src="${user.img}" class="profile-img" alt="wow">
            </div>
<!--            Profile Username-->
            <div class="flex align-items-start">
                <h5 class="text-dark text-center" th:text="${user.getUsername()}"></h5>
                <a class="btn btn-outline-dark" id="uploadEdit" href="/update/user">Edit profile</a>
            </div>

        </div>

        <!--User certs-->
        <div class="cert-div col-12 col-lg-9 justify-content-center row">
<!--            Certs Header in User Profile-->
            <div class="d-flex align-items-start col-12">
                <h3 class="text-black">My Certifications</h3>
            </div>
<!--            Cert Carousel-->
            <div class="slider">
                <input type="radio" name="testimonial" id="t-1">
                <input type="radio" name="testimonial" id="t-2">
                <input type="radio" name="testimonial" id="t-3" checked>
                <input type="radio" name="testimonial" id="t-4">
                <input type="radio" name="testimonial" id="t-5">
                <div class="cert-carousel">
                    <label class="item" for="t-1">

                        <div class="card m-1 border-dark col-5" th:if="${certs.isEmpty()}">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="text-center mx-auto">
                                    <p>Add a certification</p>
                                    <a href="/search/certification"><i class="fa-solid fa-plus fa-2xl"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card m-1 border-dark col-5" th:each="cert : ${certs}">
                            <div class="card-body">
                                <h5 th:text="${cert.getCert_id().getCertificationName()}"></h5>
                                <p class="expDate"> Exp date: <span th:text="${cert.getExpDate()}"></span></p>
                            </div>
                        </div>

                        <p class="  d-flex justify-content-center col-sm-display-none " style="display: inline-block"><a class="btn btn-outline-dark link-certs " href="/search/certification">Add a certification</a>|<a class="btn btn-outline-dark link-certs " href="/certifications">Certifications</a></p>

                    </label>
                    <label class="item" for="t-2">

                        <div class="card m-1 border-dark col-5" th:if="${certs.isEmpty()}">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="text-center mx-auto">
                                    <p>Add a certification</p>
                                    <a href="/search/certification"><i class="fa-solid fa-plus fa-2xl"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card m-1 border-dark col-5" th:each="cert : ${certs}">
                            <div class="card-body">
                                <h5 th:text="${cert.getCert_id().getCertificationName()}"></h5>
                                <p class="expDate"> Exp date: <span th:text="${cert.getExpDate()}"></span></p>
                            </div>
                        </div>

                        <p class="  d-flex justify-content-center col-sm-display-none " style="display: inline-block"><a class="btn btn-outline-dark link-certs " href="/search/certification">Add a certification</a>|<a class="btn btn-outline-dark link-certs " href="/certifications">Certifications</a></p>

                    </label>
                    <label class="item" for="t-3">

                        <div class="card m-1 border-dark col-5" th:if="${certs.isEmpty()}">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="text-center mx-auto">
                                    <p>Add a certification</p>
                                    <a href="/search/certification"><i class="fa-solid fa-plus fa-2xl"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card m-1 border-dark col-5" th:each="cert : ${certs}">
                            <div class="card-body">
                                <h5 th:text="${cert.getCert_id().getCertificationName()}"></h5>
                                <p class="expDate"> Exp date: <span th:text="${cert.getExpDate()}"></span></p>
                            </div>
                        </div>

                        <p class="  d-flex justify-content-center col-sm-display-none " style="display: inline-block"><a class="btn btn-outline-dark link-certs " href="/search/certification">Add a certification</a>|<a class="btn btn-outline-dark link-certs " href="/certifications">Certifications</a></p>

                    </label>
                    <label class="item" for="t-4">

                        <div class="card m-1 border-dark col-5" th:if="${certs.isEmpty()}">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="text-center mx-auto">
                                    <p>Add a certification</p>
                                    <a href="/search/certification"><i class="fa-solid fa-plus fa-2xl"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card m-1 border-dark col-5" th:each="cert : ${certs}">
                            <div class="card-body">
                                <h5 th:text="${cert.getCert_id().getCertificationName()}"></h5>
                                <p class="expDate"> Exp date: <span th:text="${cert.getExpDate()}"></span></p>
                            </div>
                        </div>

                        <p class="  d-flex justify-content-center col-sm-display-none " style="display: inline-block"><a class="btn btn-outline-dark link-certs " href="/search/certification">Add a certification</a>|<a class="btn btn-outline-dark link-certs " href="/certifications">Certifications</a></p>

                    </label>
                    <label class="item" for="t-5">

                        <div class="card m-1 border-dark col-5" th:if="${certs.isEmpty()}">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="text-center mx-auto">
                                    <p>Add a certification</p>
                                    <a href="/search/certification"><i class="fa-solid fa-plus fa-2xl"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card m-1 border-dark col-5" th:each="cert : ${certs}">
                            <div class="card-body">
                                <h5 th:text="${cert.getCert_id().getCertificationName()}"></h5>
                                <p class="expDate"> Exp date: <span th:text="${cert.getExpDate()}"></span></p>
                            </div>
                        </div>

                        <p class="  d-flex justify-content-center col-sm-display-none " style="display: inline-block"><a class="btn btn-outline-dark link-certs " href="/search/certification">Add a certification</a>|<a class="btn btn-outline-dark link-certs " href="/certifications">Certifications</a></p>

                    </label>
                </div>
                <div class="dots">
                    <label for="t-1"></label>
                    <label for="t-2"></label>
                    <label for="t-3"></label>
                    <label for="t-4"></label>
                    <label for="t-5"></label>
                </div>
            </div>
<!--            End of Carousel-->
            <div class="bottom-profile">
                <h2>Most Recent Roadmap</h2>
                <div th:if="${roadmap != null}"  class="card col-8 col-lg-8 text-center mx-auto shadow-lg p-3 mb-5 bg-white rounded myProgress">
                    <div>
                        <a id="industryLink" th:href="@{/roadmaps/{id}(id=${roadmap.getId()})}">
                            <h3><span th:text="${roadmap.getCareer().toUpperCase()}"></span></h3>
                        </a>
                        <ul>
                            <li> You are <span id="progress-bar" th:text="${roadmap.getProgress()}"></span>% Complete!
                            </li>

                        </ul>
                    </div>
                    <div class="progress red-bar" style="height: 100px">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-label="Danger striped example"
                             style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav th:replace="partials/fragments :: page-bottom"></nav>

</div>

<!--THIS FORM IS BEING SENT THROUGH FILESTACK.JS-->
<form class="myForm" th:action="@{/profile}" method="post">
    <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
           th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
</form>

<script th:inline="javascript">
    const FILESTACK_API_KEY = /*[[${FILESTACK_API_KEY}]]*/ "test";
    console.log(FILESTACK_API_KEY);
</script>
<div th:replace="partials/fragments :: filestack"></div>
<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: jobs"></script>
<script th:inline="javascript">
    let progress = document.querySelector("#progress-bar").innerHTML;
    console.log(progress + " hello");
    document.querySelector(".red-bar").style.width=progress + "%";
</script>
</body>
</html>