<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/fragments :: head('Dashboard')">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="main main-profile">
    <div id="profile" class="">
        <!--Default Image-->
        <div class=" profile-div shadow-lg" th:if="${user.getImg() == null}">

            <div class="p_img">
                <img th:src="@{~/img/default_img.jpeg}" class="profile-img" alt="wow">
            </div>
            <!--           Profile Username-->
            <div class="flex align-items-start">
                <h5 class="text-dark text-center username" th:text="${user.getUsername()}"></h5>
                <h6 th:text="${user.getEmail()}"></h6>
                <a class="btn btn-outline-dark" id="defaultEdit" href="/update/user">Edit profile</a>
            </div>

        </div>

        <!--Uploaded image-->
        <div class="profile-div shadow-lg" th:if="${user.getImg() != null}">

            <div class="p_img">
                <img th:src="${user.img}" class="profile-img" alt="wow">
            </div>
            <!--            Profile Username-->
            <div class="flex align-items-start">
                <h5 class="text-dark text-center username" th:text="${user.getUsername()}"></h5>
                <h6 th:text="${user.getEmail()}"></h6>
                <a class="btn btn-outline-dark" id="uploadEdit" href="/update/user">Edit profile</a>
            </div>

        </div>

        <!--        Certs and Roadmaps-->
        <div id="certs-maps">
            <div class="certs text-center shadow-lg">
                <h3 class="cert-label">Certifications <i class="fa-solid fa-award"></i></h3>
                <h5>You have <span th:text="${certs.size()}"></span> certs</h5>


                <p class="cert-links" style="display: inline-block"><a
                        class="btn btn-outline-dark link-certs " href="/search/certification">Add a
                    certification</a>|<a class="btn btn-outline-dark link-certs "
                                         href="/certifications">Certifications</a>
                </p>
            </div>
            <div class="roadmap-profile shadow-lg">

                <h2 class="rm-label">Most Recent Roadmap</h2>

                <div th:if="${roadmap == null}">
                    <div class="text-center">
                        <a href="/create/roadmaps" id="newRoadmapLink"><i class="fa-solid fa-plus fa-2xl"></i></a>
                    </div>
                </div>
                <div th:if="${roadmap != null}"
                     class="text-center myProgress">
                    <div>
                        <a id="industryLink" th:href="@{/roadmaps/{id}(id=${roadmap.getId()})}">
                            <h5><span th:text="${roadmap.getCareer().toUpperCase()}"></span></h5>
                        </a>
                        <ul>
                            <li> You are <span class="progress-bar" th:text="${roadmap.getProgress()}"></span>% Complete!
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <canvas class="myChart"></canvas>
                </div>

            </div>
        </div>
    </div>




    <nav th:replace="partials/fragments :: page-bottom-one"></nav>
</div>


<!--THIS FORM IS BEING SENT THROUGH FILESTACK.JS-->
<form class="myForm" th:action="@{/profile}" method="post">
    <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
           th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
</form>
<script th:inline="javascript">
    const FILESTACK_API_KEY = /*[[${FILESTACK_API_KEY}]]*/ "test";
    console.log(FILESTACK_API_KEY);

    document.querySelector(".main-profile").style.backgroundImage = "url('/img/profile2.jpg')";


</script>
<script th:src="@{~/js/roadmap.js}"></script>
<div th:replace="partials/fragments :: filestack"></div>
<script th:replace="partials/fragments :: convert-name"></script>
<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: jobs"></script>
<!--<script th:replace="partials/fragments :: progress-bar"></script>-->


</body>
</html>