<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragments :: head('Profile')">
</head>
<body>

<nav th:replace="partials/fragments :: navbar"></nav>

<div class="main row">
    <!--Profile Head-->
    <div id="headProfile" class="row justify-content-between bg-info col-12 col-lg-12">
        <!--Default Image-->
        <div class="profile-div col-6 col-lg-3" th:if="${user.getImg() == null}">

            <div class="p_img col-6 col-lg-3">
                <img th:src="@{~/img/default_img.jpeg}" id="profile-img" alt="wow">
            </div>

            <div class="flex align-items-start">
                <h6 class="text-dark" th:text="${user.getUsername()}"></h6>
                <a class="btn btn-outline-dark" id="defaultEdit" href="/update/user">Edit profile</a>
            </div>
        </div>

        <!--Uploaded image-->
        <div class="profile-div col-6 col-lg-4" th:if="${user.getImg() != null}">
            <div class="p_img">
                <img th:src="${user.img}" class="profile-img rounded mx-auto d-block" alt="wow">
            </div>
            <div class="flex align-items-start">
                <h5 class="text-dark" th:text="${user.getUsername()}"></h5>
                <a class="btn btn-outline-dark" id="uploadEdit" href="/update/user">Edit profile</a>
            </div>
        </div>

        <!--User certs-->
        <div class="col-sm-12 col-lg-8 w-100 row">
            <div class="m-auto text-black col-sm-12 "><h3>Certifications</h3></div>

            <div class=" col-sm-12 scroll bg-dark border-dark border-2 row justify-content-around certs-container">

                <div class="card m-1 border-dark col-5" th:if="${certs.isEmpty()}">
                    <div class="card-body">
                        <h6>Add a certification</h6>
                    </div>
                </div>

                <div class="card m-1 border-dark col-5" th:each="cert : ${certs}">
                    <div class="card-body">
                        <h5 th:text="${cert.getCert_id().getCertificationName()}"></h5>
                        <p class="expDate"> Exp date: <span th:text="${cert.getExpDate()}"></span></p>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-dark link-certs" href="/search/certification">Add a certification</a>
            <p class="col-sm-display-none" style="display: inline-block">|</p>
            <a class="btn btn-outline-dark link-certs" href="/certifications">Certifications</a>
        </div>
    </div>

<!--roadmap body-->
<!--    I think we should show all Roadmaps on this page, ordered by modification date-->
<div>
    <h2>Most Recent Roadmap</h2>
<div id="roadmap"  th:if="${roadmap != null}">
    <h4><a th:href="@{/roadmaps/{id}(id = ${roadmap.getId()})}">Industry: <span th:text="${roadmap.getIndustry()}"></span></a></h4>
    <h6 th:text="${roadmap.getCareer()}"></h6>
</div>
</div>
</div>

<!--THIS FORM IS BEING SENT THROUGH FILESTACK.JS-->
<form class="myForm" th:action="@{/profile}" method="post">
    <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
           th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
</form>
<div th:replace="partials/fragments :: filestack"></div>

</body>

<footer th:replace="partials/fragments :: footer"></footer>

<script th:replace="partials/fragments :: jobs"></script>

</html>