<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Update Account')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<div  class="main main-profile">
    <div id="update-info">


    <!--Default Img-->
    <div class="profile-div update-profile-div shadow-lg" th:if="${user.getImg() == null}">
        <div class="p_img">
            <img class="profile-img" th:src="@{~/img/default_img.jpeg}" alt="wow">
        </div>
        <div class="flex align-items-start">
            <h6 class="username" th:text="${user.getUsername()}"></h6>
            <button type="button" id="defaultEdit" class="edit-img btn ">Edit Profile Image</button>
        </div>
    </div>
    <!--uploaded image-->
    <div class="profile-div update-profile-div shadow-lg" th:if="${user.getImg() != null}">
        <div class="p_img">
            <img class="profile-img" th:src="${user.img}" alt="wow">
        </div>
        <div class="flex align-items-start">
            <h5 class="username" th:text="${user.getUsername()}"></h5>
            <button type="button" id="uploadEdit" class="edit-img btn ">Edit Profile Image</button>

        </div>
    </div>

<!--Update form-->
        <div class="update-info shadow-lg text-center">
            <h1 class="update-label">Update Profile Information</h1>
            <form class=" form-profile" th:method="post" th:action="@{/update/user}" th:object="${user}">
                <h2 th:if="${user == null}" class="form-signin-heading">Sign Up For An Account!</h2>
                <p>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="" placeholder="Username"
                           required=""
                           autofocus="" th:field="*{username}">
                </p>
                <input type="hidden" th:field="*{img}">
                <p>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="" placeholder="example@example.com"
                           required="" autofocus="" th:field="*{email}">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="" placeholder="Password"
                           th:field="*{password}">
                </p>
                <input type="hidden" th:field="*{id}">

                <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
                       th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
                <button class="btn btn-block" type="submit">update</button>

                <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
                       th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
                <button  th:action="@{/profile.html}" class="btn btn-block" type="submit">Cancel</button>




            </form>
            <a class="delete" href="" id="deleteAccount">Delete Account</a>
        </div>
        <!--        File stack.Js-->
        <form class="myForm" th:action="@{/profile}" method="post">
            <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
                   th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
        </form>
    </div>
    <nav th:replace="partials/fragments :: page-bottom-one"></nav>
</div>
<footer th:replace="partials/fragments :: footer"></footer>
<script th:inline="javascript">
    const FILESTACK_API_KEY = /*[[${FILESTACK_API_KEY}]]*/ "test";
    console.log(FILESTACK_API_KEY);
</script>
<div th:replace="partials/fragments :: filestack"></div>
</body>
</html>