/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Raleway&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Raleway&display=swap');
:root{
    /*Uncomment below and establish common parameters for all CSS*/
    --mintGreen: #bddac1;
    --navyBlue: #05386B;
    --redBrown: #9e6a5d;
    --offWhite: #edf5e1;
    --notBlack: #323232;
    --body: 'Raleway', 'sans-serif';
    --title: 'League Spartan', 'serif';
}

body{
 font-family: var(--body);
}