@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Raleway&display=swap');

:root{
    /*Uncomment below and establish common parameters for all CSS*/
    --primary: #82a074;
    --background: #f9f5f4;
    --highlight: #b6995a;
    --accent: #6f7c8b;
    --button: #a07381;
    --titletext: #E6E6DB;
    --body: 'Raleway', 'sans-serif';
    --title: 'Cormorant Unicase', 'serif';
}

body{
 font-family: var(--body);
}