body {
    min-height: 100vh;
    min-width: 100vw;
    background: var(--mintGreen);
    display: flex;
    flex-direction: column;
}

.search-index-button {
    display: flex;
    justify-content: end;
    align-items: end;
}

.btn-index {
    width: 150px;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    font-size: 25px;
}

#index-pic {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.index-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#job-search {
    font-size: 15px;
    margin-top: .5em;
    padding: 4px;
    width: min-content;
}

#job-input {
    padding: 2px;
    border-radius: 5px;
    background: transparent;
    border: var(--navyBlue) solid 2px;
    color: var(--notBlack);
}


#bottom-index {
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.job_Buttons {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    margin-bottom: 0;
    padding-bottom: 0;
}

#index-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.index-mid-header {
    width: 100%;
}

.who-we-are {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.who-text {
    width: 50%;
}

.search-track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 0;
}

.icon1 {
    width: 130px;
    height: 110px;
    margin: 0;
    background-size: cover;
    background-position: bottom;
}

.icon2 {
    width: 130px;
    height: 110px;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.icon3 {
    width: 130px;
    height: 110px;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.how-to {
    margin: 2em;
}

.big-text {
    font-size: 4em;
    margin-bottom: 0;
}

.search-big {
    display: flex;
    justify-content: end;
    align-items: end;
}

.nav-modal {
    background: var(--mintGreen);
}

.register-here {
    color: var(--redBrown);
}

.text-input {
    background: var(--offWhite);
}

li {
    list-style: none;
}


.card-body {
    margin-top: 2.5em;
}
.main-job{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5em;
}
@media screen and (min-width: 996px) {
    #index-pic {
        height: 600px;
    }

    .search-index-button {
        justify-content: start;
        align-items: end;
        margin-right: 24em;
        margin-bottom: 5em;
    }
    .search-track {
        flex-direction: row;
    }

}
