body {
    min-height: 100vh;
}

#index-pic {
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;

}

.index-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 1px;
    padding: 1em;
    margin-bottom: 1em;
    height: 550px;



}

.main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#job-search {
    font-size: 15px;
    margin-top: .5em;
    padding: 4px;
    width: min-content;
}

#job-input {
    padding: 2px;
    border-radius: 5px;
    background: transparent;
}
.search-jobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17em;

}

#populate {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 60px;

}
.populate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.job_Card{
    padding: .5em;
    margin: .5em;
}
