* {
    margin: 0;
    padding: 0;
}

.job_Info{
    display: flex;
}

.job_Card {
    border: 1px solid white;
    position: relative;
    background: grey;
    top: 50vh;
    height: 50vh;
    width: 20vw;
    display: grid;
    grid-template-areas:
                    'company'
                    'title'
                    'outlook'
                    'wages'
                    'certs';
    grid-template-rows: repeat(5, 1fr);
}

.job_Company {
    grid-area: company;

}

.job_Title {
    grid-area: title;

}

.job_Outlook{
    grid-area: outlook;
}

.job_Wages{
    grid-area: wages;
}

.job_Certs{
    grid-area: certs;
}
.job_Buttons{
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50vh;
}
.prevB{
    width: 50vw;
}
.nextB{
    width: 50vw;
}