#nav-top {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
    width: 100%;
}

#signIn {
    color: black;
    border-width: 2px;
    border-radius: 0;
}

#signIn:hover {
    color: #FFFFFF;
}

.logo-name {
    position: absolute;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;

}

/*Bottom Page*/
hr {
    width: 80%;
}