#nav-top {
    margin: 0;
    background: var(--lightshade);
    border-bottom: var(--highlight) solid 3px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: var(--accent);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--primary);
}

/*Bottom Navbar*/
#page-bottom {
    border-top: #b6995a solid 3px;
    background: #00265b;
    padding: 1em;
}

.nav-item {
    color: #FFFFFF;
}