#nav-top {
    margin: 0;
    padding: 0;
    background-color: var(--mintGreen);
    width: 100%;


}

.logo{
    height: 3em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.logo-name {
    font-family: var(--title);
    margin-top: 0.5em;
    color: var(--navyBlue);
    font-size: 4em;
}

.nav-item{
    color:  var(--navyBlue);
    font-weight: bold;
}
.btn{
    color: var(--offWhite);
    background-color: var(--navyBlue);
/*border: var(--accent) 3px solid;*/
}

.nav-link{
    color: var(--navyBlue);
}
.btn:hover {
    background-color:var(--offWhite) ;
    box-shadow: 3px 3px 2px dimgrey;
    color: var(--navyBlue);
}

.nav-item:hover{
    text-shadow: 1px 1px 3px var(--offWhite);
}

.navbar-toggler {
    background-color: var(--navyBlue);
}