:root{
    --start: 0;
    --end: 48vw;
}


#populate{
    margin: 0;
    padding: 0;
}


.loading{
    height: 5vh;
    width: 50vw;
    border-radius: 1em;
    background: navy;
    border: 1px inset navy;
    position: absolute;
}

.loadBar{
    position: relative;
    background: #BDDAC1;
    border-radius: 1em;
    height: 2.5vh;
    top: 1vh;
    left: 0.5vw;
    width: 48vw;
    animation-name: bar;
    animation-duration: 5s;
}

.loadImg{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 12vh;
    right: 25vw;
}

@keyframes bar {
    from{
        width: 5vw;
    }
    to{
        width: var(--end);
    }
}