.profile-img {
    width: 200px;
    height: 200px;
    margin: 1em;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: sandybrown solid 2px;

}

#defaultEdit{
    font-size: 12px;
    padding: 0 3em;
    height: 39%;
    margin: 0;

}

#uploadEdit{
    font-size: 12px;
    padding: 0 3em;
    height: 39%;
    margin: 0;

}

#headProfile{
    height: 400px;
    width: 100%;
}

.expDate{
    font-size: 14px;
}

.certs-container{
    border-radius: 10px;
}

/*a {*/
/*    color: black;*/
/*    padding: 8px;*/
/*    margin: 0;*/
/*}*/


a:hover{
    color: floralwhite;
    border-radius: 2px;
}

div.scroll {
    margin:4px;
    padding:4px;
    width: 500px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.link-certs{
    font-size: 12px;
    padding: 0 3em;
    height: 5.5%;
    margin: 3px 6px;

}

.main{
    padding: 0;
    margin: 0;
}