body{
    min-height: 100vh;
}
#profile{
    display: flex;
    flex-direction: column;
    /*margin-left: 5em;*/
    /*height: 100vh;*/
    /*justify-content: start;*/
    flex-grow: 1;

}

.profile-img{
    width: 200px;
    height: 200px;
    margin: 1em;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #EDF5E1;
    padding: .5em;
    margin:1em 5em;
}
.update-profile-div{
    width: 80%;
}
#defaultEdit{
    font-size: 12px;
    padding: 2px 3em;
    margin-bottom: 1em;
}

#uploadEdit{
    font-size: 12px;
    padding:2px 3em;
    /*height: 20%;*/
    margin-bottom: 1em;
    height: 40px;
    border-radius: 0;
}
.delete{
    color: var(--redBrown);
}
.expDate{
    font-size: 14px;
}
.profile-img{
    border: solid #05386B 3px;
    border-radius: 50%;
}

.link-certs{
    font-size: 12px;
    padding: 0 3em;
    height: 70%;
    margin: 3px 6px;
}
.cert-label{
    font-family: var(--title);

}
.username{
    font-family: var(--title);

}
.rm-label{
    font-family: var(--title);

}
.cert-links{
    margin-top: 4em;
}
.certs{
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: .5em;
    background: #EDF5E1;

}
.roadmap-profile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: .5em;
    background: #EDF5E1;
}
#certs-maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin:.5em 3em;

}
.main-profile{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.update-info{
    background: #edf5e1;
    width: 70%;

}
#update-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}
@media screen and (min-width:992px) {

    #profile{
        flex-direction: row;
        margin-left: 5em;
        /*height: 100vh;*/
        justify-content: start;
    }
    .profile-div{
        margin: 1em;
    }
    #certs-maps{
        margin: .5em;
    }
}

#add-a-cert {
    height: 40px;
    border-radius: 0;
}

#cert-btn {
    height: 40px;
    border-radius: 0;
}







