.profile-img{
    width: 200px;
    height: 200px;
    margin: 1em;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: black solid 3px;
    padding-right: 5em;
    margin-bottom: 1em;
    margin-right: 4em;
    background-color: #FFFFFF;
}

#defaultEdit{
    font-size: 12px;
    padding: 0 3em;
    height: 39%;
    margin: 0;
}

#uploadEdit{
    font-size: 12px;
    padding: 0 3em;
    height: 39%;
    margin: 0;
}

.expDate{
    font-size: 14px;
}


div.scroll {
    margin:4px;
    padding:4px;
    width: 500px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.link-certs{
    font-size: 12px;
    padding: 0 3em;
    height: 70%;
    margin: 3px 6px;
}
#profile{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 1em;
}
.certs{
width: 75%;
}
.roadmap-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




