.myProgress {
    padding: 0;
    margin: 5em;
    height: 150px;
    border-radius: 10px;
}

#newRoadmapLink {
    color: var(--lightshade);
}
#progress-bar{
    margin: 1em 0;
}
.single-cert{
    padding: 0;
    margin: 5em;
    height: 500px;
    border-radius: 10px;

}
.casing{
    border: solid crimson 2px;
    border-radius: 10px;
}