.myProgress {
    padding: 1em;
    background: var(--offWhite);
    border: none;
    width: 50vw;
}

.progress-rm{
    padding: 1em;
    border: none;
    width: 50vw;
}

.create-rd{
    font-family: var(--title);
}

#roadmaps{
flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    font-family: var(--title);
}

#industryLink{
    font-family: var(--title);
    color: var(--notBlack);
}

#newRoadmapLink {

}

.career-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prog-percent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#roadmapTabContent{
    display: flex;
    flex-direction: row;
    /*padding-bottom: 100px;*/
    flex-wrap: wrap;
    background: var(--offWhite);
    justify-content: center;
    max-width: 75vw;
    padding: 1em;
    margin: 0 4.3em;
    border-top: none;
}

.circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: var(--notBlack) solid 2px;
    justify-self: center;
    background: var(--navyBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-cert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: none;
}

.tc-con{
    width: 325px;
    margin-top: 1em;
}

.table-tm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    padding: 0;
}

.divider{
    border: var(--notBlack) solid 3px;
}

.circle-container{
    display: flex;
    width: 100%;
    margin-top: 1em;
    align-items: center;
}

.divider-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.create-roadmap{
    flex-grow: 1;
    justify-content: center;
    align-items: center;

}

.main-rd{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.roadmap-all{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--offWhite);
}

.add-rd{
    flex-grow: 1;
}

.rd-page{
    margin: 1em;
}

.single-cert{
    width: 100vw;
}

.cert-name{
    margin: .5em;
}

.fa-star{
    color: gold;
    font-size: .5em;
}

.fa-star-blue{
    color: var(--navyBlue);
}

.circle-brown{
    background: var(--redBrown);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: var(--notBlack) solid 2px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-create{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-job{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.create-page-rd{
    max-width: 90vw;
}

.nav-tabs{
    align-self: flex-start;
    margin-left: 14vw;
    border: none;
}

.creation-form {
    margin: 3em;
    padding: 1em;
    width: 50vw;
    background-color: var(--offWhite);
}

@media screen and (min-width:996px) {
    .circle{
        height: 80px;
        width: 80px;
    }

    .roadmap-all{
        width: 50vw;
    }

    .fa-star{
        font-size: 1.5em;
    }

    .nav-tabs{
        margin-left: 11.7vw;
    }

    #roadmapTabContent{
        margin: 0 7.5em;
    }
}
