#myProgress {
    padding: 0;
    margin: 5em;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    align-content: center;
}

#myBar {
    width: 60%;
    background-color: dodgerblue;
    height: 150px;
    border-radius: 20px;
}

#industryLink {
    color: white;
}