<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('About')">
</head>
<body>

<nav th:replace="partials/fragments :: navbar"></nav>

    <div class="container text-center" style="background-color: tan">

<!--            ////column for the center-->
            <div class="row">
<!--            // card 1 start-->
                <section class="card col-4 me-auto" style="width: 18rem;">
                    <img class="mt-1 ms-5 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center">Michael Sigg</h5>
                        <p class="card-text"></p>
                        <p class="text-center">
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github fa-xl"></i></a>
                        </p>
                    </div>
                </section>
<!--                //card 1 end-->

<!--                card 2 start-->
                <section class="card col-4 me-auto" style="width: 18rem;">
                    <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQFKVUtodBPhRw/profile-displayphoto-shrink_800_800/0/1655481324802?e=1667433600&v=beta&t=_hBYBe2mhXk2j3MTVcOnYJZRiW1RbDwTMe3TDlphTWI" alt="" >
                    <div class="card-body">
                        <h5 class="card-title">Michael Sigg</h5>
                        <p class="card-text"></p>
                        <p class="text-center">
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github fa-xl"></i></a>
                        </p>
                    </div>
                </section>
<!--                card 2 end-->

<!--                card 3-->
                <section class="card col-4" style="width: 18rem;">
                    <img class="mt-1 ms-5 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Michael Sigg</h5>
                        <p class="card-text"></p>
                        <p class="text-center">
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github fa-xl"></i></a>
                        </p>
                    </div>
                </section>
                <hr class="disabled">
<!--                card 4 start-->
                <section class="card col-2" style="width: 18rem;">
                    <img class="mt-1 ms-5 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Michael Sigg</h5>
                        <p class="card-text"></p>
                        <p class="text-center">
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github fa-xl"></i></a>
                        </p>
                    </div>
                </section>
<!--                card 4 end-->

<!--                card 5 start-->
                <section class="card col-2" style="width: 18rem;">
                    <img class="mt-1 ms-5 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Michael Sigg</h5>
                        <p class="card-text"></p>
                        <p class="text-center">
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                            <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github fa-xl"></i></a>
                        </p>
                    </div>
                </section>
<!--                card 5 end -->


        <div class="d-flex flex-column gap-3 container-fluid text-center position-relative" >
            <div id="background-image-target"></div>
            <!-- START THE FEATURETTES -->

            <div class="row featurette align-items-center justify-content-center">

<!--                // test card-->
                <div class="card mb-3 whole-card" style="max-width: 400px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Michael Sigg</h5>
                                <p class="card-text">Pull Stack Developer</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <!--                    ///social links-->
                                <div class="container-fluid social-links">
                                    <p>
                                        <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                                        <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github fa-xl"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

<!--                // test card end-->

                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> Michael Sigg.
                        <p><span class="text-muted">Pull Stack Developer.</span></p>
                    </h2>

                    <h2 class="lead">><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eum ipsum natus nihil repellat saepe sit veniam? Ducimus, eum hic quo quos ullam voluptas? Cum esse fuga modi nisi qui.</em></h2>
                    <!--                    ///social links-->
                    <div class="container-fluid social-links">
                        <a href="https://www.linkedin.com/in/mjsigg/"><i class="a-solid linkedin fa-2xl shadow"></i></a>
                        <a href="https://www.github.com/mjsigg/"><i class="a-solid github fa-2xl shadow"></i></a>
                    </div>
                </div>

                <div class="col-md-5">
                    <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">
                </div>

            </div>


            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> Kevin Orgeron
                        <div><span class="text-muted">Full Stack developer from Slidell. </span></div>
                    </h2>
                    <p class="lead"><h2><em>Hire me because ...</em></h2></p>
                    <p class="lead">Super passionate about all things code.</p>

                    <!--                    ///social links-->
                    <p><a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin"></i></a></p>
                    <p><a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-github"></i></a></p>
                </div>
                <div class="col-md-5">
                    <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQHNbc3AqKDMhA/profile-displayphoto-shrink_800_800/0/1656083812845?e=1667433600&v=beta&t=DQXOpS9kXuS0CSJ33OniIQtN0PGhLOGc-FqGCWGXYEQ" alt="">
                </div>
            </div>


            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> Miguel Romero
                        <div><span class="text-muted">Full Stack Developer. </span></div>
                    </h2>
                    <p class="lead"><h2><em>Hire me because ...</em></h2></p>
                    <p class="lead">I don't just defy expectations ... I expand them.</p>

                    <!--                    ///social links-->
                    <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin" w></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col-md-5">
                    <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQFKVUtodBPhRw/profile-displayphoto-shrink_800_800/0/1655481324802?e=1667433600&v=beta&t=_hBYBe2mhXk2j3MTVcOnYJZRiW1RbDwTMe3TDlphTWI" alt="" >
                </div>
            </div>


            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> Christopher Davis
                        <div><span class="text-muted">Full Stack Developer.  Decorated military veteran.</span></div>
                    </h2>
                    <p class="lead"><h2><em>Hire me because ...</em></h2></p>
                    <p class="lead">Extensive military background as a leader.</p>

                    <!--                    ///social links-->
                    <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin" w></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col-md-5">
                    <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/D4E03AQGKME1Fb4veQg/profile-displayphoto-shrink_800_800/0/1655914247035?e=1667433600&v=beta&t=gPlokN-Zt41a43SM5ZWhQ0HBTBRfzp1GGUX5MmuSHMQ" alt="" >
                </div>
            </div>


            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> Romeo Cohens
                        <div><span class="text-muted">Full Stack Developer.  Former Spanish linguist.</span></div>
                    </h2>
                    <p class="lead"><h2><em>Hire me because ...</em></h2></p>
                    <p class="lead">Passionate about health related endeavors. </p>

                    <!--                    ///social links-->
                    <a href="https://www.linkedin.com/in/mjsigg/"><i class="fa-brands fa-linkedin" w></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="col-md-5">
                    <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/D4E35AQF0kvuLJzc9cg/profile-framedphoto-shrink_800_800/0/1660229143206?e=1662584400&v=beta&t=OJzKuh_eGdTbRoL2FVKrM584lTQhJindpRTcKMfeoUY" alt="" >
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->

<div th:replace="partials/fragments :: page-bottom"></div>
<footer th:replace="partials/fragments :: footer"></footer>

</body>
</html>