<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('About')"></head>
<body>

<nav th:replace="partials/fragments :: navbar"></nav>

<section class="row text-center">
    <h1 class="text-center">Development Team</h1>
</section>

    <div class="container" style="background-color: tan">

<!--            ////column for the center-->
            <div class="row">
<!--            // card 1 start-->
                <section class="card col" style="width: 18rem;">
                    <div class="text-center">
                        <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/D4E03AQGKME1Fb4veQg/profile-displayphoto-shrink_800_800/0/1655914247035?e=1667433600&v=beta&t=gPlokN-Zt41a43SM5ZWhQ0HBTBRfzp1GGUX5MmuSHMQ" alt="" >

                        <div class="card-body text-center">
                            <h5 class="card-title">Christopher Davis</h5>
                                <li>
                                    <a href="https://www.linkedin.com/in/chrisdavis713/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                                    <a href="https://github.com/CJDPenguin"><i class="fa-brands fa-github fa-xl"></i></a>
                                </li>
                        </div>
                    </div>
                </section>
<!--                //card 1 end-->

<!--                card 2 start-->
                <section class="card col" style="width: 18rem;">
                    <div class="text-center">
                        <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQFKVUtodBPhRw/profile-displayphoto-shrink_800_800/0/1655481324802?e=1667433600&v=beta&t=_hBYBe2mhXk2j3MTVcOnYJZRiW1RbDwTMe3TDlphTWI" alt="" >

                        <div class="card-body text-center">
                            <h5 class="card-title">Miguel Romero</h5>
                            <li>
                                <a href="https://www.linkedin.com/in/miguelromero23/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                                <a href="https://github.com/Miguelisiah23"><i class="fa-brands fa-github fa-xl"></i></a>
                            </li>
                        </div>
                    </div>
                </section>
<!--                card 2 end-->

                <section class="card col" style="width: 18rem;">
                    <div class="text-center">
                        <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQHNbc3AqKDMhA/profile-displayphoto-shrink_800_800/0/1656083812845?e=1668038400&v=beta&t=WTNi9JEpHVppnr5Yj3Tkm9jkJtnHGLEbIjId1YOOV78" alt="">

                        <div class="card-body text-center">
                            <h5 class="card-title">Kevin Orgeron</h5>
                            <li>
                                <a href="https://www.linkedin.com/in/kevin-orgeron/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                                <a href="https://github.com/korgeron"><i class="fa-brands fa-github fa-xl"></i></a>
                            </li>
                        </div>
                    </div>
                </section>
<!--                card 3-->

<!--                card 4 start-->
                <section class="card col" style="width: 18rem;">
                    <div class="text-center">
                        <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/D4E35AQF0kvuLJzc9cg/profile-framedphoto-shrink_800_800/0/1660229143206?e=1662584400&v=beta&t=OJzKuh_eGdTbRoL2FVKrM584lTQhJindpRTcKMfeoUY" alt="" >

                        <div class="card-body text-center">
                            <h5 class="card-title">Romeo Cohens</h5>
                            <li>
                                <a href="https://www.linkedin.com/in/romeo-cohens/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                                <a href="https://github.com/romeocohens17"><i class="fa-brands fa-github fa-xl"></i></a>
                            </li>
                        </div>
                    </div>
                </section>
<!--                card 4 end-->


<!--                card 5 start-->
                <section class="card col" style="width: 18rem;">
                    <div class="text-center">
                        <img class="mt-1 ppl-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHb0_bnGzdjhw/profile-displayphoto-shrink_800_800/0/1661878075262?e=1667433600&v=beta&t=D8A33p7h6UiYN5CcU2CCmtGThFVB_j_ghoFIyG6xy1M" alt="">

                        <div class="card-body text-center">
                            <h5 class="card-title">Michael Sigg</h5>
                            <li>
                                <a href="https://www.linkedin.com/in/chrisdavis713/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                                <a href="https://github.com/CJDPenguin"><i class="fa-brands fa-github fa-xl"></i></a>
                            </li>
                        </div>
                    </div>
                </section>
<!--                card 5 end -->
            </div>
    </div>
<div th:replace="partials/fragments :: page-bottom"></div>
<footer th:replace="partials/fragments :: footer"></footer>

</body>
</html>