<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Home')">
</head>
<body >
<nav th:replace="partials/fragments :: navbar"></nav>

<div class="main">
    <div id="index-pic" class=" index-head">

            <div class="row justify-content-end w-50 h-100 align-items-end">
                <button type="button" class="btn btn-index mb-5 p-1 font-title">Explore</button>
            </div>
<!--        <div th:replace="partials/fragments :: search-jobs"></div>-->
    </div>

    <div id="index-mid" class="container">

    </div>
<!--    <div th:replace="partials/fragments :: populate"></div>-->
    <div id="bottom-index" class="container">
<!--        <div></div>-->
    </div>


    <div th:replace="partials/fragments :: page-bottom"></div>


</div>



<footer th:replace="partials/fragments :: footer"></footer>

<script th:inline="javascript">
    const CAREER_API_KEY = /*[[${CAREER_API_KEY}]]*/ "test";

    const USER_ID = /*[[${USER_ID}]]*/ "please";


    document.querySelector("#index-pic").style.backgroundImage = "url('/img/job6.jpg')";
    // document.querySelector("#bottom-index").style.backgroundImage = "url('/img/jobaccent.jpg')";
    document.querySelector("#bottom-index").style.backgroundImage = "url('/img/jobaccent2.jpg')";
    document.querySelector("#index-mid").style.backgroundImage = "url('/img/mid2.jpg')";

</script>
<script th:replace="partials/fragments :: jobs"></script>
</body>
</html>