<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragments :: head('Search')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="main main-job">
    <h1 class="font-title">Search careers</h1>
    <div th:replace="partials/fragments :: search-jobs"></div>
        <img class="loadImg" th:src="@{~/img/modern_Jobtographer_Logo_RedBrown.svg}" alt="compass">
    <div class="loading">
        <div class="loadBar"></div>
    </div>
    <div th:replace="partials/fragments :: populate"></div>

</div>
<div class="noLoad">
    <h3>NO JOBS FOUND</h3>
    <button class="noLoadButton btn btn-outline-primary" type="button">Search New Job!</button>
</div>
<div th:replace="partials/fragments :: page-bottom-one"></div>
<footer th:replace="partials/fragments :: footer"></footer>
<script type="text/javascript">
    document.querySelector(".main-job").style.backgroundImage = "url('/img/backdrop.jpg')"

</script>
<script th:replace="partials/fragments :: convert-name"></script>
<script th:replace="partials/fragments :: jobs"></script>

</body>
</html>