<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Roadmap details')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<div class="container">



    <ul class="nav nav-tabs" id="create-roadmap" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="roadmap-tab" data-bs-toggle="tab" data-bs-target="#roadmap" type="button" role="tab" aria-controls="roadmap" aria-selected="true">Roadmap</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="certs-tab" data-bs-toggle="tab" data-bs-target="#certs" type="button" role="tab" aria-controls="certifications" aria-selected="false">Certification timeline</button>
        </li>
    </ul>
    <div class="tab-content" id="roadmapTabContent">
        <div class="tab-pane fade show active" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
            <div class="form" th:method="post" th:action="@{/create/roadmaps}" th:object="${roadmap}">
                <h2 class="form-heading text-center">Create Your Roadmap</h2>
                <!--        <p>-->
                <!--            <label for="industry" class="sr-only">Industry</label>-->
                <!--            <input type="text" id="industry" name="industry" class="form-control" placeholder="industry" required=""-->
                <!--                   autofocus="" th:field="*{industry}">-->
                <!--        </p>-->
                <div>
                    <h4>Career</h4>
                    <p th:text="${roadmap.getCareer()}"></p>
                </div>
                <h4 class="pt-5">Certifications Needed</h4>
                <div  th:each="cert : ${roadmap.getRoadmapCerts()}">
                    <p th:text="${cert.getCert_id().getCertificationName()}"></p>
                </div>

                <!--        <p>-->
                <!--            <label for="certs" class="sr-only">Certs</label>-->
                <!--            <input type="text" id="certs" name="certs" class="form-control" placeholder="Certs"-->
                <!--                   required="">-->
                <!--        </p>-->
                <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
                       th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
                <button class="btn btn-lg btn-primary btn-block" type="submit">next</button>
            </div>
        </div>
        <div class="tab-pane fade" id="certs" role="tabpanel" aria-labelledby="profile-tab">


        </div>
    </div>

    <nav th:replace="partials/fragments :: page-bottom"></nav>

</div>

</body>
<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: DnD"></script>

</html>