<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Roadmap Details')">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<div class="card col-8 col-lg-8 text-center mx-auto shadow-lg p-3 mb-5 bg-white rounded myProgress">
    <div>
        <a id="industryLink" th:href="@{/roadmaps/{id}(id=${roadmap.getId()})}">
            <h3><span th:text="${roadmap.getCareer().toUpperCase()}"></span></h3>
        </a>
        <div th:each="cert : ${roadmap.getRoadmapCerts()}">
            <p class="cert-name" th:text="${cert.getCert_id().getCertificationName()}"></p>
        </div>
        <ul>
            <li> You are <span id="progress-bar" th:text="${roadmap.getProgress()}"></span>% Complete!
            </li>

        </ul>
    </div>
    <div class="progress red-bar" style="height: 100px">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
             aria-label="Danger striped example"
             style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</div>
<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: convert-name"></script>
</body>
</html>