<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Roadmap details')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>

<div th:each="roadmap: ${roadmaps}">
    <p><a th:href="@{/roadmaps/{id}(id=${roadmap.getId()})}">Industry: <span th:text="${roadmap.getIndustry()}"></span></a></p>
    <p>Career: <span th:text="${roadmap.getCareer()}"></span></p>
    <h1 th:text="${roadmap.getUser().getUsername()}"></h1>

</div>

</body>
<footer th:replace="partials/footer :: footer"></footer>

</html>