<!--Do we need this as a separate HTML or just redirect them to create HTML page & just send it as an update in the Post request-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Edit Roadmap')">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="container">
    <form class="form-signin" th:method="post" th:action="@{/create/roadmaps}" th:object="${roadmap}">
        <h2 class="form-signin-heading">Update Your Roadmap</h2>
        <p>
            <label for="career" class="sr-only">Career</label>
            <input type="text" id="career" name="career" class="form-control" placeholder="Career"
                   required="" th:field="*{career}">
        </p>
        <input type="hidden" name="id" th:field="*{id}">
        <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
               th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update!</button>
    </form>
</div>
<script th:inline="javascript">
    const CAREER_API_KEY = /*[[${CAREER_API_KEY}]]*/ "test";
    console.log(CAREER_API_KEY);
    const USER_ID = /*[[${USER_ID}]]*/ "please";
    console.log(USER_ID);
</script>
<footer th:replace="partials/fragments :: footer"></footer>
</body>
</html>