<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form class="form-signin" th:method="post" th:action="@{/create/roadmaps}" th:object="${roadmap}">
        <h2 class="form-signin-heading">Update Your Roadmap</h2>
        <p>
            <label for="industry" class="sr-only">Industry</label>
            <input type="text" id="industry" name="industry" class="form-control" placeholder="industry" required=""
                   autofocus="" th:field="*{industry}">
        </p>
        <p>
            <label for="career" class="sr-only">Career</label>
            <input type="text" id="career" name="career" class="form-control" placeholder="Career"
                   required="" th:field="*{career}">
        </p>
        <input type="hidden" name="id" th:field="*{id}">
        <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"
               th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update!</button>
    </form>
</div>

</body>
</html>