<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/fragments :: head(Certifications)">
</head>
<body>
<nav th:replace="/partials/fragments :: navbar"></nav>
<div>
    <a href="/search/certification">Add a certification +</a>
</div>
<div  class="card w-50 m-1 p-1" th:each="cert : ${certs}">
    <h1 th:text="${cert.getCert_id().getCertificationName()}"></h1>
    <p th:text="${cert.expDate}"></p>
    <a th:href="@{/delete/certification/{id}(id = ${cert.getId()})}">Remove</a>

</div>

</body>
<footer th:replace="/partials/fragments :: footer"></footer>
</html>