<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/fragments :: head(Certifications)">
</head>
<body>
<nav th:replace="/partials/fragments :: navbar"></nav>
<div class="main main-rd">
    <!--All User Certifications-->
    <div class="cert-main">
        <div class="cert-card shadow-lg" th:each="cert : ${certs}">

            <h1 class="cert-name"><span th:text="${cert.getCert_id().getCertificationName()}"></span></h1>
            <p th:text="${cert.expDate}"></p>
            <a th:href="@{/delete/certification/{id}(id = ${cert.getId()})}">Remove</a>

        </div>
    </div>
    <div class="text-center">
        <a href="/search/certification">Add a certification +</a>

    </div>
</div>
<nav th:replace="partials/fragments :: page-bottom-one"></nav>
<script th:inline="javascript">
    document.querySelector(".main-rd").style.backgroundImage = "url('/img/background.jpg')";

</script>
<script th:replace="partials/fragments :: convert-name"></script>
<footer th:replace="/partials/fragments :: footer"></footer>
</body>
</html>