<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Search Certifications')">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="main main-certs">
    <div class="search-cert-main">
        <div class="text-center d-flex flex-column align-items-center">
            <h1 class="font-title">Search for a certification</h1>
            <div class="search-cert-btn search-jobs d-flex">
                <input type="text" class="cert_value searchJobs">
                <button type="button" class="cert_search btn mx-1" style="padding: 1px">Search</button>
            </div>
        </div>
        <!--        Certs populate here-->
        <div class="card_holder"></div>
    </div>
    <div th:replace="partials/fragments :: modals"></div>
</div>

<script th:inline="javascript">
    const CAREER_API_KEY = /*[[${CAREER_API_KEY}]]*/ "test";
    console.log(CAREER_API_KEY);
    const USER_ID = /*[[${USER_ID}]]*/ "please";
    console.log(USER_ID);
</script>
<script th:inline="javascript">
    document.querySelector(".main-certs").style.backgroundImage = "url('/img/backdrop.jpg')";
</script>
<footer th:replace="partials/fragments :: footer"></footer>
<script th:inline="javascript">
    const CAREER_API_KEY = /*[[${CAREER_API_KEY}]]*/ "test";
    console.log(CAREER_API_KEY);
    const USER_ID = /*[[${USER_ID}]]*/ "please";
    console.log(USER_ID);
</script>
<script th:src="@{~/js/certs.js}"></script>
</body>
</html>